<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules and Regulations</key>
	<string>We are presenting before you a very unique simulation game this year at Infinnovation, Infi-Invest.

No. of participants: 2 per school

It is a simulation game wherein, the representatives invest virtual money given to them in listed shares.

The panel consists of students of the host school.

The timings would be 9:30-11:30 AM. (offstage)

The updates will be given at 12:30 PM on stage. Few updates will also be given during the offstage session.

The transactions will be based on Day Trading.

All the participants will be accompanied by a broker (host school) who will record the transactions and bring it to the notice of the panel. Simultaneous update of the profile will be done.

The investment can only be done on the 40-50 selected listed diversified stocks of BSE and NSE.

The back stage event will be followed by the on stage session. The school with maximum profit after the updates(onstage) provided, wins the competition.

INR 10, 00,000 will be given as the virtual capital.

Credit facility will be provided @6% on the principal value.

Trade commission fees will be charged @INR 10 per transaction.

The regulation and speculation of stock prices will be done through this app.(It represents simulated stock exchange and does not reflect the values of a real stock market).

The prices of the securities invested in will be provided in the app itself.

The prices of the securities will be based on the general trend of the company.

The fluctuations on the event day will be regulated by the panel with respect to an imaginary economic situation.

The participants must have a minimum of 75% of their account balances invested in securities before the onstage event begins.

The updates provided on stage will affect the prices of the stocks held by the participants. The updates will be provided by the panel sector wise, after which the school with the highest portfolio wins.</string>
	<key>Disclaimer</key>
	<string>The information contained on this app/website is for general information purposes only.

We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the app/website or the information, products, services, or related graphics contained on the app/website for any purpose.

Any reliance you place on such information is therefore strictly at your own risk.

The general trend available on the app/website is for event (Infi-Invest) purposes only and has no intentions of manipulating the company policies and the stock prices.

The Stock Prices will be a hypothetical representation of the actual values. It has no links with the actual stock prices and company policies.

Infinnovation Stock Exchange Simulator is not responsible for any errors, omissions or representations on any of our pages or on any links on any of our pages. Infinnovation Stock Exchange Simulator does not endorse in anyway any advertisers on our web pages. Please verify the veracity of all information on your own before undertaking any alliance.</string>
	<key>License</key>
	<string>This app is based on an open-source project hosted on GitHub. (https://github.com/swghosh/infinnovation-stock-exchange-simulator-ios-app)

MIT License

Copyright (c) 2016-17 Swarup Ghosh &amp; Delhi Public School Newtown.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</string>
</dict>
</plist>
